
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1; 
  }

  to {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0; }
}

.fade-exit {
  animation-name: fadeOut;
}

.fade-enter {
  animation-name: fadeIn;
}

.switch-exit {
  animation-name: fadeOutDown;
}

.switch-enter {
  animation-name: fadeInUp;
}

.switch-enter,
.switch-exit,
.fade-enter,
.fade-exit {
  transition-duration: 300ms;
  animation-duration: 300ms;
  will-change: transform, opacity;
}

:root {
  --animate-duration: 300ms;
}